<%= Space.where(:group_id => group).each do |space|%>
  <p>
    <strong>ID:</strong>
    <%= space.unique_id %>
    <strong> Group ID: </strong>
    <%= space.group_id %>
   <%= link_to 'Destroy space', [space.group, space],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
